* {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 234, 250);
}

dialog section {
    width: 400px;
    padding: 20px;
    background-color: rgb(166, 217, 252);
}

div {
    display: flex;
    flex-direction: column;
}

input {
    flex: 1 1 auto;
    font-size: 1rem;
    padding-left: 5px;
}

form {
    margin: 100px;
}

fieldset {
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 2px solid rgb(163, 163, 163);
}

li {
    list-style-type: none;
}

button {
    font-size: 1rem;
    margin: 30px 0;
    padding: 10px;
    color: white;
    background-color: rgb(47, 169, 250);
    cursor: pointer;
}

body > button {
    margin: 30px auto;
}

dialog {
    margin: auto;
    border: none;
    background-color: rgba(209, 234, 250, 0);
}

dialog + section {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
    width: 700px;
    height: 700px;
    background-color: rgb(166, 217, 252);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); 
}

.last-sec div {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 0 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); 
    background-color: rgb(209, 234, 250);
}

h1 {
    margin: 20px auto;
    font-size: 1.5rem;
}